# Ch1 Python Pandas
1. is the library use for working with datasets
2. Analyzing, cleaning, exploring and manupulating data

In [1]:
import pandas as pd
a = [1,7,2]
myvar = pd.Series(a)
print(myvar)

C:\Users\LJENG\AppData\Roaming\Python\Python38\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

0    1
1    7
2    2
dtype: int64

In [5]:
pip install numpy

Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (1.19.2)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install numpy --upgrade

Collecting numpyNote: you may need to restart the kernel to use updated packages.

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'c:\\programdata\\anaconda3\\lib\\site-packages\\numpy-1.19.2.dist-info\\direct_url.json'
Consider using the `--user` option or check the permissions.

  Using cached numpy-1.24.4-cp38-cp38-win_amd64.whl (14.9 MB)
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.19.2
    Uninstalling numpy-1.19.2:

In [3]:
import pandas as pd
a = [1.4, 2, 3, 4]
myvar = pd.Series(a)
print(myvar)

0    1.4
1    2.0
2    3.0
3    4.0
dtype: float64

In [7]:
import pandas as pd
a = [1,2,4]
myvar = pd.Series(a,index = ['x', 'y', 'z'])
print(myvar)
print(myvar['y'])

x    1
y    2
z    4
dtype: int64

In [8]:
import pandas as pd
student_name = ["Ram", "Shyam", "Radha", "Geeta", "Seeta"]
marks = [10, 20, 30, 40, 50]
myvar = pd.Series(marks, index = student_name, name = "Student Marks")
print(myvar)

Ram      10
Shyam    20
Radha    30
Geeta    40
Seeta    50
Name: Student Marks, dtype: int64

In [11]:
import pandas as pd
calories = {"day1" : 400, "day2" : 250, "day3" : 350}
myvar = pd.Series(calories)
print(myvar)
myvar = pd.Series(calories, index = ["day4", "day2"])
print(myvar)

day1    400
day2    250
day3    350
dtype: int64
day4      NaN
day2    250.0
dtype: float64

In [13]:
import pandas as pd
marks = {"Ram":55, "Shyam":80, "Radha": 75}
myvar = pd.Series(marks, name = 'Student Result')
print(myvar)

Ram      55
Shyam    80
Radha    75
Name: Student Result, dtype: int64

3

In [18]:
print(myvar.size)
print(myvar.dtype)
print(myvar.name)
print(myvar.index)
print(myvar.values,type(myvar.values))

3
int64
Student Result
Index(['Ram', 'Shyam', 'Radha'], dtype='object')
[55 80 75] <class 'numpy.ndarray'>

In [19]:
import pandas as pd
subs = pd.read_csv("subs.csv")
print(subs)
print(type(subs))

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>

In [20]:
subs

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [4]:
import pandas as pd
subs = pd.read_csv("subs.csv")
print(subs)
print(type(subs))
print(subs.describe())

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>
       Subscribers gained
count          365.000000
mean           135.643836
std             62.675023
min             33.000000
25%             88.000000
50%            123.000000
75%            177.000000
max            396.000000

In [7]:
print(subs.min())
print(subs.max())
print(subs.median())
print(subs.sum())

Subscribers gained    33
dtype: int64
Subscribers gained    396
dtype: int64
Subscribers gained    123.0
dtype: float64
Subscribers gained    49510
dtype: int64

In [15]:
print(subs[subs > 200])

     Subscribers gained
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
..                  ...
360               231.0
361               226.0
362                 NaN
363                 NaN
364                 NaN

[365 rows x 1 columns]